In [5]:
tup = ("Mental", 3, 56, "Mark", "Esther","Mark", "45", "angel", 90, 90)

In [7]:
type(tup)

tuple

## A tuple uses a parenthesis() while a list uses a bracket[]